.widget-container.fluid-height(ng-controller='UserActionsCtrl')
  .heading
    button.btn.btn-sm.btn-primary-outline(ng-click='addRow()',
    title='{{"Refresh"}}')
      i.fa.fa-refresh
      span(translate) refresh

  .widget-content.padded
    table.table.table-condensed.table-hover.table-infocard
      tbody

        tr
          td(translate) Width
          td {{device.display.width}} px
        tr
          td(translate) Height
          td {{device.display.height}} px

        tr
          td(translate) Orientation
          td {{device.display.rotation}}°


    span(translate) Current Location
    table.table.table-condensed.table-hover.table-infocard
      thead
        tr
          th
            span(translate) gesture
          th
            span(translate) X좌표
          th
            span(translate) Y좌표
          th
            span(translate) 이전 screenshot
          th
            span(translate) 이전 screenshot 시간
          th
            span(translate) 다음 screenshot
          th
            span(translate) 다음 screenshot 시간

      tbody
        tr(ng-repeat='touchPoint in touchPoints track by $index')
          td {{touchPoint.gesture}}
          td {{touchPoint.locationX}}
          td {{touchPoint.locationY}}
          td
            a(ng-href='{{ touchPoint.nextScreenshot.body.href }}', target='_blank')
              img(ng-src='{{ touchPoint.nextScreenshot.body.href + shotSizeParameter(20, 1) }}',
              ng-srcset='{{ touchPoint.nextScreenshot.body.href + shotSizeParameter(20, 2) }} 2x').screenshot-image
          td {{touchPoint.nextScreenshot.body.date | date:'HH:mm:ss'}}
          td
            a(ng-show="touchPoints[$index + 1]" ng-href='{{ touchPoints[$index + 1].nextScreenshot.body.href }}', target='_blank')
              img(ng-src='{{ touchPoints[$index + 1].nextScreenshot.body.href + shotSizeParameter(20, 1) }}',
              ng-srcset='{{ touchPoints[$index + 1].nextScreenshot.body.href + shotSizeParameter(20, 2) }} 2x').screenshot-image
          td(ng-show="touchPoints[$index + 1]") {{touchPoints[$index + 1].nextScreenshot.body.date | date:'HH:mm:ss' }}
